body {
    background: url('../img/bg01.jpg');
    background-size: cover;
    background-position: center center;
    font-family: 'Patua One', cursive;
    font-family: 'Noto Sans TC', sans-serif;
}
/*首頁*/
.btnList {
    display: flex;
    width: 100%;
    justify-content: center;
}
.bubbly-button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 100px;
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    text-decoration: none;
}
.bubbly-button:focus {
    outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
   }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
   }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
}
@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
   }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
   }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
}


/*2020Birthday.html*/
.body{
    max-width: 1280px;
    margin: 0 auto;
}
.header {
    font-size: 50px;
    text-align: center;
}
.header span{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    display: block;
}
.header span.prompt{
    color: #fff46d;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.318);
}

.container {
    padding: 0 40px;
}
.flex-box {
    width: 100%;
    height: 450px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.img {
    text-align: center;
}
.img img {
    width: 50%;
}
  
.footer {
    height: 45px;
    position: relative;
}
  
.footer input {
    width: 300px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -150px;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(208,208,208,1) 6%, rgba(182,182,182,1) 30%, rgba(194,194,194,1) 67%);
    font-weight: 700;
}
  
.word {
    display: inline-block;
    width: 300px;
    height: 300px;
    position: relative;
    top: 60px;
}
.word::before {
    content: "";
    border-radius: 120px;
    width: 120px;
    height: 120px;
    position: absolute;
    top: -80px;
    left: 90px;
    z-index: 1;
}
.word::after {
    content: "";
    width: 260px;
    height: 90px;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    font-size: 60px;
    top: -124px;
    left: 20px;
    z-index: 2;
    color: #fff;
    padding-top: 30px;
    border: 4px solid #fff;
    border-bottom: none;
}
.word.first::after {
    content: "01";
    background: #f37576;
    box-shadow: 3px 0px #a55155;
}
.word.first::before {
    background: #f37576;
}
.word.second::after {
    content: "02";
    background: #ffc051;
    box-shadow: 3px 0px #a37936;
}
.word.second::before {
    background: #ffc051;
}
.word.third::after {
    content: "03";
    background: #00aebd;
    box-shadow: 3px 0px #009fa3;
}
.word.third::before {
    background: #00aebd;
}

.word input {
  width: 290px;
  height: 290px;
  position: absolute;
  font-size: 150px;
  background: rgba(255,255,255,0.318);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
}
.word input:focus {
    outline: 0px solid;
}

.first input {
    border: 4px solid #f37576;
    box-shadow: 3px 3px #a55155;
}
.first input:focus {
    background: rgba(243, 117, 118, 0.318);
}


.second input {
    border: 4px solid #ffc051;
    box-shadow: 3px 3px #a37936;
}
.second input:focus {
    background: rgba(255, 192, 81, 0.318);
}

.third input {
    border: 4px solid #00aebd;
    box-shadow: 3px 3px #009fa3;
}
.third input:focus {
    background: rgba(0, 174, 189, 0.318);
}

/*滑動鎖的樣式*/
.drag{
    width: 300px;
    height: 40px;
    line-height: 40px;
    background-color: #e8e8e8;
    position: relative;
    margin:0 auto;
}
.bg{
    width:40px;
    height: 100%;
    position: absolute;
    background-color: #75CDF9;
}
.text{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    user-select: none;
}
.btn{
    width:40px;
    height: 38px;
    position: absolute;
    border:1px solid #ccc;
    cursor: move;
    font-family: "宋體";
    text-align: center;
    background-color: #fff;
    user-select: none;
    color:#666;
}

/*JQ滑動鎖的樣式*/
#slider {
	margin:100px auto;
	width:300px;
	height:40px;
	position:relative;
	border-radius:2px;
	background-color:#dae2d0;
	overflow:hidden;
	text-align:center;
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none
}
#slider_bg {
	position:absolute;
	left:0;
	top:0;
	height:100%;
	background-color:#7ac23c;
	z-index:1
}
#label {
	width:46px;
	position:absolute;
	left:0;
	top:0;
	height:38px;
	line-height:38px;
	border:1px solid #ccc;
	background:#fff;
	z-index:3;
	cursor:move;
	color:#ff9e77;
	font-size:16px;
	font-weight:900
}
#labelTip {
	position:absolute;
	left:0;
	width:100%;
	height:100%;
	font-size:13px;
	font-family:microsoft yahei,serif;
	color:#787878;
	line-height:38px;
	text-align:center;
	z-index:2
}



@media (max-width:812px) {
    body {
        max-width:812px;
        width: 100%;
        background-size: unset;
    }
    .body {
        padding-top: 6rem;
    }
    .header{
        padding-top: 0;
        font-size: 2rem;
    }
    .header span.prompt{
        font-size: 1rem;
    }
    .container {
        padding: 0;
    }
    .flex-box {
        height: 15rem;
    }
    .img img {
        width: 90%;
    }
    .word{
        width: 10rem;
        height: 10rem;
        top: 2rem;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .word input{
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
    }
    .word::after{
        width: 3.5rem;
        height: 2.2rem;
        top: -2.4rem;
        left: 1.8rem;
        padding-top: 0;
        font-size: 1.2rem;
    }
    .word::before{
        width: 2rem;
        height: 2rem;
        top: -1rem;
        left: 2.9rem;
    }
    .third {
        padding-left: 0;
    }
}
@media (max-width:768px) {
    .word::after {
        left: 2.8rem;
    }
    .word::before {
        left: 3.9rem;
    }
}
@media (max-width:411px) {
    .word::after {
        left: 2.3rem;
    }
    .word::before {
        left: 3.3rem;
    }
}
@media (max-width:360px) {
    .word::after {
        left: 1.8rem;
    }
    .word::before {
        left: 2.8rem;
    }
}
@media (max-width:320px) {
    .word::after {
        left: 1.5rem;
    }
    .word::before {
        left: 2.5rem;
    }
}
/* @media screen and  (orientation:landscape) {
    body{
        padding: 0;
    }
    .flex-box {
        padding-left: 2rem;
    }
    .img img {
        width: 55%;
    }
} */